@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Emoji:wght@300..700&display=swap");

:root{
  --color-main: #182930;
  --color-secundary: #000;
  --text-small: 12px;
  --empower:#5881BF;
}

body {
  box-sizing: border-box;
  font-family: "DM Sans";
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 50px;
}



.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1235px;
  margin: 0 auto;
  padding: 20px 20px;
}

.nav {
  display: flex;
  align-items: center;
}


.logo {
  max-width: 15rem;
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: "DM Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.nav-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  /* Espesor de la línea */
  background-color: #000;
  /* Color de la línea */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

/* Mostrar la línea al hacer hover */
.nav-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu,
  .cerrar-menu {
    width: 34px;
    /* Ajusta el tamaño según sea necesario */
    height: 34px;
    /* Ajusta el tamaño según sea necesario */
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .abrir-menu svg,
  .cerrar-menu svg {
    width: 100%;
    height: 100%;
    fill: #000;
    /* Ajusta el color del icono según sea necesario */
  }

  .cerrar-menu {
    color: #ececec;
  }

  

  .nav {
    align-items: center;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    text-decoration: none;
    color: #182930;
    padding: 15px 0;
    transition: color 0.3s ease;
  }

  .nav-list li a:hover {
    color: #182930;
  }
}

/* Estilo para el botón secundario */
.boton-2 {
  border-radius: 10px;
  align-self: stretch;
  display: flex;
  align-items: end;
  gap: 15px;
  overflow: hidden;
  color: #182930;
  justify-content: center;
  padding: 20px 25px;
  font: 400 25px DM Sans, sans-serif;
  border: 2px solid rgba(88, 129, 191, 1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  
}

@media screen and (max-width: 991px) {
  .boton-2 {
    border-radius: 10px;
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: end;
    gap: 15px;
    overflow: hidden;
    color: #ffffff;
    justify-content: center;
    font: 400 25px DM Sans, sans-serif;
    border: 2px solid rgba(88, 129, 191, 1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
}

dd {
  font-size: 30px;
}

.boton-2:hover {
  background-color: #6cb19b;
  color: #fff;
  transition: all 0.5s ease-in-out;
  border-color: transparent;
}



.txtboton-2 {
  text-decoration: none !important;
  color: #182930;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 550px) {
  .txtboton-2 {
    text-decoration: none !important;
    color: #182930;
    transition: all 0.5s ease-in-out;
  }
}

.txtboton-2:hover {
  color: #fff;
  transition: all 0.5s ease-in-out;
}


/*INICIO ESTILOS HERO*/

.hero {
  display: flex;
  width: 100%;
  gap: 40px 60px;
  overflow: hidden;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  justify-content: center;
  padding: 60px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-10 {
  display: flex;
  min-width: 240px;
  width: 84%;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

@media (max-width: 991px) {
.div-10 {
  display: flex;
  min-width: 240px;
  width: 94%;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}
}

@media (max-width: 991px) {
  .hero {
    max-width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 0%;
  gap: 45px;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    display: table-column;
    height: auto;
  }
}

.empower-growth-get-palu-group-experts {
  width: 100%;
  border-color: rgba(88, 129, 191, 1);
  border-left: solid;
  font-size: 35px;
  line-height: normal;
  color: var(--empower);
  padding: 10px;
}

@media (max-width: 991px) {
  .empower-growth-get-palu-group-experts {
    max-width: 100%;
    font-size: 24px;
  }
}

.div-11 {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 55px;
  font-weight: 400;
  color: var(--Color-2, #2d3e50);
  justify-content: start;
}

@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    margin-top: 10px;
    font-size: 28.5px;
  }
}

.bookkeeping-and span {
  font-weight: 700;
  color: var(--color-main);
}

@media (max-width: 991px) {
  .bookkeeping-and span {
    max-width: 100%;
    font-weight: 400;
    color: var(--color-main);
  }
}

@media (max-width: 991px) {
  .financial-services {
    max-width: 100%;
    font-size: 32px;
    color: var(--color-main);
  }
}

.heading-desktop span {
  width: 100%;
  overflow: hidden;
  color: var(--Color-1, #182930);

}

@media (max-width: 991px) {
  .heading-desktop {
    max-width: 100%;
    font-size: 36px;
  }
}

.div-12 {
  display: flex;
  min-height: 73px;
  width: 109%;
  align-items: start;
  gap: 0px;
  overflow: hidden;
  font-size: 25px;
  justify-content: start;
  flex-direction: column;

}

@media (max-width: 991px) {
  .div-12 {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
    order: 3;
  }
}

.buttons-row {
  display: flex;
  /* height: auto; */
  /* flex-wrap: wrap; */
  align-items: flex-start;
  gap: 20px;
  /* width: 100%;*/
}

@media (max-width: 991px) {
.buttons-row {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
} 


.boton-1 {
  border-radius: 10px;
  display: flex;
  min-width: 240px;
  align-items: end;
  gap: 15px;
  overflow: hidden;
  color: var(--Color-1, #182930);
  justify-content: start;
  padding: 20px 25px;
  border: 2px solid rgba(88, 129, 191, 1);
  transition: all 0.5s ease-in-out;
}

.boton-1:hover {
  background-color: #182930;
  color: #fff;
  transition: all 1s ease-in-out;
}

@media (max-width: 991px) {
  .boton-1 {
    padding: 0 20px;
  }

  a.boton-2-2 div {
    width: 57%;
    display: flex;
}
}

.img-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 30px;
}

.boton-2-2 {
  border-radius: 10px;
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  background-color: rgba(24, 41, 48, 1);
  color: var(--White, #fff) !important;
  justify-content: center;
  padding: 20px 25px;
  border: 2px solid rgba(24, 41, 48, 1);
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.boton-2-2:hover {
  background-color: #6cb19b;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
  color: #fff;
  text-decoration: none;
}

img.img-4 {
  position: relative;
  top: 3px;
}


.txtboton-2-2 {
  color: #fff;
  text-decoration: none;
}

.txtboton-2-2:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991px) {
.txtboton-2-2{
  display: flex;
  width: 100%;
}
}
@media (max-width: 991px) {
  .boton-2-2 {
    padding: 20px;
    width: 100%;
    justify-content: center;
  }
}

.txtboton-2-2 {
  font-family: "DM Sans";
  font-size: 23px;
}

.btn1 {
  border-radius: 10px;
  align-self: stretch;
  display: flex;
  min-width: 270px;
  align-items: flex-end;
  gap: 15px;
  overflow: hidden;
  color: #182930;
  justify-content: center;
  margin: auto 0;
  padding: 20px 25px;
  font: 400 25px DM Sans, sans-serif;
  border: 2px solid rgba(88, 129, 191, 1);
  font-family: "DM Sans";
  transition: all 0.5s ease-in-out;
}

.btn1:hover {
  background-color: var(--color-main);
  color: #fff;
  transition: all 0.5s ease-in-out;
  border-color: transparent;
  
}

.btn1:hover img{
  content: url('assets/msg-blanco.svg');
  width: 29px;
  height: 29px;
  display: flex;
  transition: all 0.5s ease-in-out;
  border-color: transparent;
  
  
}

.button-container1,
.input-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 991px) {
.button-container1,
.input-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
}
 

@media (max-width: 991px) {
.btn1 {
  display: flex;
  gap: 15px;
  font-size: 24px;
  width: 100%;
  justify-content: center;
}
}

.input-container1 input {
  flex: 1;
}

.input-container1 {
  display: none;
  position: relative;
  transition: all 1s ease-in-out;
  animation: fadeIn 1s;
  justify-content: start;
}

.input-container1 input[type="email"] {
  border-radius: 10px;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  gap: 15px;
  overflow: hidden;
  color: #182930;
  justify-content: start;
  padding: 20px 25px;
  font: 400 25px DM Sans, sans-serif;
  border: 2px solid rgba(88, 129, 191, 1);
  font-family: "DM Sans";
  transition: all 0.5s ease-in-out;
}

.input-container1 ::placeholder {
  color: #182930;
  font-family: "DM Sans";
  opacity: 0.5;
  font-weight: 300;
}

.button {
  position: absolute;
  right: 0%;
  top: 57%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 18px;

}

.success-message1 {
  text-align: center;
  align-items: center;
  display: none;
  font-size: 18px;
  color: #28a745;
  margin-top: 20px;
  font-family: "DM Sans";
  font-weight: 500;
}

.img-5 {
  aspect-ratio: 1.1;
  object-fit: contain;
  object-position: center;
  width: 559px;
  min-width: 240px;
  gap: -100px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  .img-5 {
    max-width: 100%;
    margin-top: 20px;
  }
}

.container .img-5 {
  margin-left: 67px;
}

@media screen and (max-width: 550px) {
  .container .img-5 {
    margin-left: 10px;
  }
}





/* SLIDER */

.slider-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0px;
}

@media (max-width: 991px) {
.slider-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 30px 60px 10px;
}
}

.slider-title {
  text-align: center;
  margin: 20px 0;
  font-size: 55px;
  font-style: normal;
  line-height: normal;
  color: var(--color-main);
}

.text-services{
  text-align: center;
  margin: 20px 0;
  font-size: 35px;
  font-style: normal;
  line-height: normal;
  color: var(--color-main);
  padding: 20px 0px

}

@media (max-width: 991px) {
  .text-services {
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
    font-style: normal;
    line-height: normal;
    color: var(--color-main);
    padding: 10px 0px;
    width: 100%;
}
  
}


.slider {
display: flex;
transition: transform 0.5s ease;
width: 100%;
height: 274px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

.slide {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  height: 174px;
  justify-content: space-between;
  flex-shrink: 0;
}

@media (max-width: 991px) {
  .slide{
    display:block;
    min-height: 400px;
  }

  .slider{
    padding: 20px;
  }
}

.slide-text {
  display: flex;
  width: 524px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  color: #182930;
}

@media (max-width: 991px) {
  .slide-text {
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    font-size: 19px;
    font-weight: 400;
    line-height: normal;
    padding-top: 50px;
  }
}


.slide-image {
width: 300px;
height: 80px;
flex-shrink: 0;
margin-right: 10%;
}

@media (max-width: 991px) {
  .slide-image {
    width: 355.53px;
    padding-top: 40px;
}
}

.slide-image img {
  width: 100%;
  height: auto;
}

.slider-nav {
  text-align: center;
  margin-top: 10px;
}

.nav-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 40px 5px;
  cursor: pointer;
}

.nav-dot.active {
  background-color: #333;
}

.content-btn-slide {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  padding: 50px 0px;
}

.boton-slide {
  border-radius: 10px;
  align-self: stretch;
  display: flex;
  align-items: end;
  gap: 15px;
  overflow: hidden;
  color: #ffffff;
  background-color: #182930;
  justify-content: center;
  padding: 20px 25px;
  font: 400 25px DM Sans, sans-serif;
  border: 2px solid rgba(88, 129, 191, 1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .boton-slide {
    border-radius: 10px;
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: end;
    gap: 15px;
    overflow: hidden;
    color: #182930;
    justify-content: center;
    font: 400 25px DM Sans, sans-serif;
    border: 2px solid rgba(88, 129, 191, 1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background-color: #182930;
  }
}

.boton-slide:hover {
  background-color: #6cb19b;
  color: #fff;
  transition: all 0.5s ease-in-out;
  border-color: transparent;
}



.txtboton-slide {
  text-decoration: none !important;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 550px) {
  .txtboton-slide {
    text-decoration: none !important;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
  }
}

.txtboton-slide:hover {
  color: #fff;
  transition: all 0.5s ease-in-out;
}


/*CARDS*/

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
}

@media screen and (max-width: 550px) {
.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
    }
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 100%;
  max-width: 68%;
  margin: 0 auto;
  height: 50vh;
}

.card-reverse {
  flex-direction: row;
}

.card:hover {
  transform: translateY(-5px); /* Efecto hover */
}

.card-image {
  flex: 1;
  min-width: 250px; /* Asegura que la imagen tenga un tamaño mínimo */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.card-content-one {
  flex: 1;
  background-color: #182930; /* Fondo azul */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991px) {
  .card-content-one {
    flex: 1;
    background-color: #182930; /* Fondo azul */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -6px;
  }
}


.card-content-two {
  flex: 0.878;
  background-color: #EEFDFF; /* Fondo azul */
  color: #182930;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991px) {
.card-content-two {
  flex: 1;
  background-color: #EEFDFF;
  color: #182930;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -6px;
  }
}

.card-content-three {
  flex: 1;
  background-color: #182930; /* Fondo azul */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media  (max-width: 991px) {
  .card-content-three {
    flex: 1;
    background-color: #182930;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -6px;
}
  
}

.card-title {
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 991px) {
.card-title {
  margin: 0;
  font-size: 28px;
}
}

.card-subtitle {
  margin: 5px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  width: 82%;
}

@media (max-width: 991px) {
  .card-subtitle {
    margin: 5px 0;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
  }
}


.card-description {
  margin: 10px 0 0 0;
  font-size: 20px;
  font-weight: 400;
  width: 95%;
}


@media (max-width: 991px) {
  .card-description {
    margin: 10px 0 0 0;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    width: 100%;
  }
}



@media (max-width: 768px) {
  .card {
      flex-direction: column; /* Apila la imagen y el contenido */
      height: auto;
      width: 100%;
      max-width: 90%;
  }
  @media (max-width: 768px) {
  .card-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

  .card-image {
      width: 100%; /* La imagen ocupa todo el ancho */
      height: auto; /* Ajusta la altura automáticamente */
  }

  .card-content {
      padding: 15px;
      text-align: center; /* Centra el texto en pantallas pequeñas */
  }
}


/*About*/

.about-section {
  padding: 40px 0;
  max-width: 1235px;
  margin: 0 auto;
}

.about-title {
  margin-bottom: 20px;
  font-weight: 700;
  color: #182930;
}
.about-text {
  margin-bottom: 20px;
}
.about-image img {
  max-width: 100%;
  border-radius: 8px;
  height: auto;
  display: block;
  margin: 0 auto;
}
p.about-text {
  width: 470px;
    font-size: 19px;
    color: #182930;
}
h4.about-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 992px) {
  .about-image img {
      max-height: 300px; /* Controla la altura máxima de las imágenes en pantallas grandes */
      object-fit: cover; /* Asegura que las imágenes se ajusten bien sin distorsionarse */
  }
}

@media (max-width: 992px) {
p.about-text {
  width: 350px;
}
}

@media (max-width: 992px) {
.row.mt-4 {
  flex-flow: column-reverse;
}
}

.col-12.col-lg-6.d-flex {
  display: flex;
  justify-content: flex-end;
  margin-left: -26px;
  margin-right: 21px;
}

@media (max-width: 991px) {
  .container {
      max-width: 100%;
      display: initial;
  }

  .col-12.col-lg-6.d-flex {
    display: flex;
    justify-content: flex-start;
    margin-left: 26px;
  }


}

@media (max-width: 991px) {
  .col-12 {
    flex: 0 0 auto;
    width: 90%;
    margin-left: 18px !important;
  }
}



/*FAQ*/

.faq-section {
  background-color: #e7f3f5; /* Color de fondo de la sección */
  width: 100%;
  padding: 20px 0px;
}

@media (max-width: 991px) {
.faq-section {
  background-color: #e7f3f5; /* Color de fondo de la sección */
  padding: 40px 0px;
  width: 98%;
  }
}

.tituloFAQ {
  font-weight: 700;
  color: #182930;
  font-family: 'DM Sans', sans-serif;
  text-align: left;
  margin-bottom: 70px;

}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .faq-container {
    max-width: 90%;
  }
}

.faq {
  border-bottom: 1px solid #6cb19b;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.faq-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-title h3 {
  font-size: 25px;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: #182930;
}

.faq-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #6cb19b;
  display: flex;
  align-items: center;
}

.faq-toggle i {
  font-size: 20px;
  margin-left: 10px;
  transition: opacity 0.4s ease-in-out;
}

.faq .fa-minus {
  display: none;
}

.faq.active .fa-plus {
  display: none;
}

.faq.active .fa-minus {
  display: inline;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.faq-content p {
  margin: 10px 0;
  font-size: 20px;
}

.faq.active .faq-content {
  max-height: 150px; /* Ajusta según el contenido */
  opacity: 1;
}

.faq.active .faq-toggle i.fa-plus {
  display: none;
}

.faq.active .faq-toggle i.fa-minus {
  display: inline;
  color: #d9534f; /* Cambia el color del icono cuando está abierto */
}

/*FOOTER*/


.col-md-6.text-md-end {
  display: flex;
  justify-content: space-between;
  width: 35%;
  text-decoration: underline;
}

.col-lg-3.col-md-6.text-lg-end.text-md-start.mt-4.mt-md-0 {
  display: flex;
  width: 22%;
}

.footer p {
  font-size: 28.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer p span {
  font-size: 28.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #6CB19B;
}

@media (max-width: 767px) {
.col-lg-3.col-md-6.text-lg-end.text-md-start.mt-4.mt-md-0 {
  display: flex;
  width: 100%;
  justify-content: end;
}

.col-md-6.text-md-end {
  width: 100%;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: end;
  justify-content: space-evenly;
}

footer.footer.bg-dark.text-light.py-5 {
  padding: 0px 11px;
}

}

p.text-copy {
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



/* General Footer Styles */
.footer {
  background-color: #0a2a30; /* Color de fondo oscuro */
  color: #fff; /* Color de texto claro */
}

.footer p {
  color: #c0c8ce; /* Color del texto secundario */
}

.footer a {
  color: #c0c8ce; /* Color de enlaces */
  text-decoration: none;
}

.footer a:hover {
  color: #4bbf73; /* Color del hover en enlaces */
}

.footer .btn-success {
  background-color: #4bbf73;
  border-color: #4bbf73;
}

.footer .btn-success:hover {
  background-color: #3aa662;
  border-color: #3aa662;
}

.footer .bi-envelope {
  font-size: 1.2rem;
}


/* botón funcional footer de get in touch */

/* Estilos para el botón en el footer */
/* Estilos para el botón del footer */
.btn1-footer {
  border-radius: 10px;
  align-self: stretch;
  display: flex;
  min-width: 270px;
  align-items: flex-end;
  gap: 15px;
  overflow: hidden;
  color: #182930;
  justify-content: center;
  margin: auto 0;
  padding: 20px 25px;
  font: 400 25px 'DM Sans', sans-serif;
  border: 2px solid rgba(88, 129, 191, 1);
  transition: all 0.5s ease-in-out;
}

.btn1-footer:hover {
  background-color: var(--color-main);
  color: #fff;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
}

.btn1-footer:hover img {
  content: url('assets/msg-blanco.svg');
  width: 29px;
  height: 29px;
  display: flex;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
}

.button-container-footer,
.input-container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .button-container-footer,
  .input-container-footer {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .btn1-footer {
    font-size: 24px;
    width: 100%;
    justify-content: center;
  }
}

.input-container-footer input {
  flex: 1;
}

.input-container-footer {
  display: none;
  position: relative;
  justify-content: start;
  transition: all 1s ease-in-out;
  animation: fadeIn 1s;
}

.input-container-footer input[type="email"] {
  border-radius: 10px;
  padding: 20px 25px;
  font: 400 25px 'DM Sans', sans-serif;
  border: 2px solid rgba(88, 129, 191, 1);
  color: #182930;
  transition: all 0.5s ease-in-out;
}

.input-container-footer ::placeholder {
  color: #182930;
  font-weight: 300;
  opacity: 0.5;
}

.success-message-footer {
  display: none;
  text-align: center;
  font-size: 18px;
  color: #28a745;
  margin-top: 20px;
  font-weight: 500;
}

/* Si es necesario, ajusta los estilos del botón de envío en el footer */
.button-footer {
  position: absolute;
  top: 57%;
  right: 0%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}


/* final de estilos btn footer */


/* Estilos del botón */
#topButton {
  display: none; /* Oculto por defecto */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-size: 18px;
  background-color: #37373757;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

/* Cambio de color al pasar el cursor por el botón */
#topButton:hover {
  background-color: #ffffff;
}

